.home-container {
  padding: 20px;
  text-align: center;
  width: calc(100% - 200px);
  margin-left: 200px;
  background-color: #000;
  background-image: url('https://wallpapers.com/images/hd/among-us-colorful-crewmates-mvi75r44yybp1vpa.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
  position: relative;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-container h1,
.home-container p,
.home-container .images-container {
  position: relative;
  z-index: 2;
}

.home-container h1 {
  margin-bottom: 20px;
  padding-top: 40px;
  font-size: 2.5rem;
}

.home-container p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crewmate-image {
  max-width: 300px;
  display: block;
  margin: 20px auto;
}

.spaceship-image {
  max-width: 350px;
  display: block;
  margin: 20px auto;
}
